@page
@model SignalRChat.Pages.IndexModel
@{
    ViewData["Title"] = "Chat";
}

<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>

    <div class="row p-1">
        <div class="col-6"><hr /></div>
    </div>

    <h6 class="mt-1">Broadcast</h6>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send to All" />
        </div>
    </div>

    <div class="row p-1">
        <div class="col-6"><hr /></div>
    </div>

    <h6 class="mt-1">Groups</h6>
    <div class="row p-1">
        <div class="col-1">Group</div>
        <div class="col-4"><input type="text" id="groupNameInput" placeholder="group name" /></div>
        <div class="col-1 text-end">
            <input type="button" id="joinGroupButton" value="Join" />
            <input type="button" id="leaveGroupButton" value="Leave" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="groupMessageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendGroupButton" value="Send to Group" />
        </div>
    </div>
    <div class="row p-1 mt-1">
        <div class="col-6">
            <small>Joined groups: <span id="joinedGroups">(none)</span></small>
        </div>
    </div>

    <div class="row p-1 mt-2">
        <div class="col-6"><hr /></div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="https://unpkg.com/@@microsoft/signalr@@latest/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
